@tailwind base;
@tailwind components;
@tailwind utilities;

@import './design-tokens.css';

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-surface text-ink-primary font-sans;
  }
}
